.result {
    display: flex;
    box-sizing: border-box;
    color: var(--color-black);
    width: 50%;
    height: 100px;
    font-size: var(--font-size-medium);
    border-radius: 50px;
    background-color: var(--color-white);
    box-shadow: 5px 5px 10px 0 var(--color-black);
    padding-left: 40px;
    align-items: center;
}

@media (max-width: 768px) {

    .result {
        width: 100%;
        font-size: var(--font-size-extra-small);
        height: 50px;
        padding-left: 20px;
    }
}