.search-bar {
    margin: 20px;
    outline: none;
    width: 50%;
  }
  
  .search-bar input[type="text"] {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 5px 0;
    font-size: var(--font-size-medium);
    box-sizing: border-box;
    border-radius: 50px;
    border: none;
    padding-left: 40px;
  }
  